[program:node_exporter]
command=/usr/local/bin/node_exporter
user=node_exporter
autostart=true
autorestart=true
stdout_logfile=/var/log/node_exporter/node_exporter.out.log
stderr_logfile=/var/log/node_exporter/node_exporter.err.log
